* {
	cursor: default;
}

u {
	font-size: 40px;
	margin-bottom: 100px;
}

a {
	color: blue;
	cursor: alias;
}

button {
	cursor: pointer;
}

body {
	margin: 0;
}

#background-video {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	color: white;
	font-size: 100px;
	margin: 50px;
}

nav{
	display: flex;
	flex-direction: column;
	width: 40%;
	padding: 10px;
}


nav > section {
	display: flex;
	flex-direction: row;
	opacity: 0.7;
}

nav button {
	opacity: 0.8;
	border-radius: 5px;
	font-size: 50px;
	margin: 10px;
	height: 10%;
	font-weight: bold;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	color: white;
}

#login-button {
	background-color: orange;
}

#credits-button {
	background-color: green;
}

.login-line,
.credits-line {
	position: relative;
	width: 10%;
	height: 3px;
	background-color: white;
	opacity: 0.8;
	top: 3vw;
}

.con-login {
	position: relative;
	width: 3px;
	height: 100px;
	background-color: white;
	opacity: 0.8;
	top: 3vw;
}

.con-credits {
	display: none;
	position: relative;
	width: 3px;
	height: 8vw;
	background-color: white;
	opacity: 0.8;
	top: 3vw;
}

#login, #credits {
	position: relative;
	z-index: 3;
	width: 200%;
	color: white;
	font-weight: bold;
	opacity: 0.9;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	right: 50%;
	padding: 10px;
}

#login {
	background-color: orange;
	top: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#credits {
	font-family: monospace;
	font-size: 30px;
	background-color: green;
}

#login, #credits {
	display: none;
}

#login img {
	width: 300px;
	height: auto;
	justify-content: center;
	margin: 20px;
	border-radius: 20px;
	margin: 50px;
	cursor: default;
}

a {
	cursor: default;
}

#login img:hover {
	width: 330px;	
	height: auto;
	cursor: pointer;
}

#speaker {
	cursor: pointer;
	position: absolute;
	bottom: 100px;
	right: 100px;
}

#speaker:hover {
	opacity: 0.9;
}

.mute-hover {
	cursor: pointer;
	width: 0px;
	height: 130px;
	border: 1px solid red;
	background-color: red;
	position: absolute;
	transform: rotate(-45deg);
	bottom: 80px;
	right: 150px;
	z-index: 0;
	opacity: 0.2;
}

.mute {
	cursor: pointer;
	width: 0px;
	height: 130px;
	border: 2px solid red;
	background-color: red;
	position: absolute;
	transform: rotate(-45deg);
	bottom: 80px;
	right: 150px;
	z-index: 1;
	opacity: 0.8;
}
